<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <form (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="dados.nome" name="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-textarea [(ngModel)]="dados.descricao" name="descricao"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-input type="number" [(ngModel)]="dados.valor" name="valor"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Cadastrar</button>
    </form>

</ion-content>
