<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addNote()"><ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let feed of feeds">
      
      <ion-item (click)="itemDetalhes($event, feed)">
        <ion-thumbnail *ngIf="feed.imagem" item-left>
          <img src="{{feed.imagem}}">
        </ion-thumbnail>
        <ion-thumbnail *ngIf="!feed.imagem" item-left>
          <img src="./assets/icon/favicon.ico">
        </ion-thumbnail>
        {{feed.id}} - {{feed.nome}}
      </ion-item>

      <ion-item-options>
          <button ion-button icon-only (click)="editarItem($event, feed)" light>
              <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deletarItem($event, feed)" danger>
              <ion-icon name="trash"></ion-icon>
          </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
