<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalhes
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <!-- <ion-avatar item-start>
          <img src="{{character.image}}">
        </ion-avatar> -->
        <h2>{{item.id}}</h2>
        <p>{{item.nome}}</p>
      </ion-item>
  </ion-list>
</ion-content>
