<ion-header>
  <ion-toolbar>
    <ion-title>
      Editar
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="item.nome" name="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-textarea [(ngModel)]="item.descricao" name="descricao"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-input type="number" [(ngModel)]="item.valor" name="valor"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Salvar</button>
    </form>

</ion-content>
